///////////////////////////////
// LOGIN/REGISTRATION STYLES //
///////////////////////////////

.splash-title
  margin: 2.25em 0

.user-form
  width: 90%
  margin: 0 auto 10em auto
  *
    width: 100%
    padding: .5em .5em .5em .5em
    box-sizing: border-box
    font-size: 1em
  input
    display: block
    border-bottom: none
    margin: -2px 0 0 0
    border-top: 1px solid #ccc
    &:first-child
      border-top: 1px solid black 
    &:last-of-type
      border-bottom: 1px solid black
      margin-bottom: 1em
    &:focus
      outline: none
  button
    background-color: white

#signup-link
  display: block
  text-align: center


