///////////////////////////////
// LOGIN/REGISTRATION STYLES //
///////////////////////////////

.splash-screen
  color: white
  background-color: #cb1001

.splash-title
  margin: 2.25em 0

#signup-link
  color: white
  position: absolute
  display: block
  text-align: center
  left: 0
  right: 0
  bottom: 1em

// prevent signup link from overlapping log in button when
// keyboard is shown
@media only screen and (min-height : 0px) and (max-height : 340px)
  #signup-link
    position: relative

.user-form
  background-color: #cb1001
  margin: 0 auto 10em auto
  input
    border-bottom: none
    margin: -2px 0 0 0
    border-top: 1px solid #ccc
    &:first-child
      border-top: 1px solid black 
    &:last-of-type
      border-bottom: 1px solid black
      margin-bottom: 1em
    &:focus
      outline: none

//////////////////////////
// HOME/TASKLIST STYLES //
//////////////////////////

.secondnav
  ul
    li
      position: relative
      box-sizing: border-box
      float: left
      display: block
      width: 50%
      padding: 1em
      border: 1px solid black
      height: 3em
      border-left: none
      h2
        text-align: center

.task-section
  background-color: #f5f5f5

.list
  li
    box-shadow: inset 1px 2px 7px -5px;
    background-color: #fff
    &.today
      border-left: 5px solid #cb1001
    overflow: hidden
    position: relative
    box-sizing: border-box
    height: 68px
    border-bottom: none
    &:last-child
      box-shadow: inset 1px 2px 7px -5px, 0 6px 16px -14px #000
    &>*
      position: absolute
    p
      white-space: nowrap
      overflow-x: hidden
      text-overflow: ellipsis
      margin-top: -.65em
      line-height: 1.3em
    .task-name
      font-weight: bold
      top: 33%
      left: 15px
      right: 120px
    .task-status
      top: 50%
      position: absolute
      right: 2.75em
    .icon
      top: 50%
      position: absolute
      right: 1em
      margin-top: -12.5px
    .tags
      p
        overflow: visible
      overflow: hidden
      white-space: nowrap
      right: 120px
      position: absolute
      left: 15px
      top: 66%
      margin-top: -6.5px

#addtask-button
  background-color: #419f33
  color: white