///////////////////////////////
// LOGIN/REGISTRATION STYLES //
///////////////////////////////

.splash-title
  margin: 2.25em 0

.user-form
  width: 90%
  margin: 0 auto 10em auto
  *
    width: 100%
    padding: .5em .5em .5em .5em
    box-sizing: border-box
    font-size: 1em
  input
    display: block 
    &:focus
      outline: none
  button
    background-color: white
  #name
    border-bottom: none
  #password
    margin: -2px 0 1em 0
    border-top: 1px solid #ccc

#signup-link
  display: block
  text-align: center


