.session-info
  height: 100%
.session-form  
  box-sizing: border-box
  width: 100%  
  position: absolute
  padding: 1em
  .textarea-container
    height: 123px
    width: 100%
    position: relative
    i
      &.icon-info-sign
        margin-left: 7px
        top: 20px
    #pomodoro-details
      position: absolute
      height: auto
      width: auto
      box-sizing: border-box
      right: 0px
      left: 29px
      font-size: 16px
  .input-container
    margin-top: 10px
    height: 40px
    padding-bottom: 0px
    position: relative
    width: 100%
  .save
    margin-top: 10px
  i
    &.icon-time
      margin-left: 7px
    &.icon-calendar
      margin-left: 7px
    width: auto
    font-size: 1em
    position: absolute
    margin-top: -8.5px
    margin-left: 10px
    top: 50%
    left: 0px
    z-index: 2
  select, input, textarea
    margin: 0
    z-index: 1
    font-size: 16px
    width: auto
    height: 2.5em
    position: absolute
    left: 29px
    right: 0
  #delete-button
    background-color: #cb1001
    color: white
    margin-top: 1em