.task-form
  padding-top: 1.25em
  .input-prepend
    height: 38px
    margin-top: .5em
    box-sizing: border-box
    position: relative
    border: 1px solid black
    .add-on
      box-sizing: border-box
      width: 34px
      position: absolute
      display: block
      text-align: center
      padding: 0.62em 0em 0.62em 0em;
    input
      width: auto
      height: 100%
      position: absolute
      left: 34px
      right: 0px
      margin: 0
      padding-left: 0
      border: none
    &:first-child
      margin-top: 0
  p
    float: left
    margin: 1em 0 0 .5em
  .small-input
    float: left
    font-size: 1em
    text-align: center
    margin: 14px 0 0 0
    padding: 0
    display: inline-block
    border: none
    border-bottom: 1px solid black
    width: 32px

