.plan-list
  li
    height: 80px
    .task-cardleft
      position: absolute
      top: 50%
      margin-top: -25px
      left: 10px
      right: 120px
      p
        left: 0
        position: relative
        margin-top: 0
        margin-bottom: .25em
        &:last-child
          margin-bottom: 0em
      .task-name
        font-size: 1.5em
      .task-left
        line-height:20px
        height: 20px
        margin-bottom: 0
        float: left
      .task-left-text
        margin-left: .5em
        white-space: normal
        font-size: 10px
        width: 100px
        float: left
    .icon.pomodoro
      position: absolute
      right: 55px
    .planned
      font-size: 24px
      position: absolute
      right: 90px
    .plan-buttons
      right: 0px
      margin-top: -40px
      i
        border-left: 1px solid black
        border-bottom: 1px solid black
        padding: 11.5px 9.5px
        display: block
        &:last-child
          border-bottom: none
