////////////////////
// GENERAL STYLES //
////////////////////
@import 'nib'

global-reset()

body
  font-family: 'Roboto' sans-serif

h1
  font-weight: bold
  font-size: 2em
  text-align: center

input,button
  border: 1px solid black