.timer-context
  border-top: none

.mode-select
  padding: 0
  ul
    li
      width: 50%
      text-align: center
      border-top: none
.timer
  overflow: hidden

.big-actbar
  height: 96px
  bottom: 0
  ul
    li
      padding: 2.25em 0
      text-align: center
      height: 6em
      p
        font-size: 1.5em
        height: 1em
        display: inline
        position: relative
      &#startreset-button
        width: 33.33%
      &#pauseresume-button
        width: 66.66%
      &#stopalarm-button
        width: 100%
      &#break-message
        width: 100%

#timer
  position: absolute
  margin-top: -48px
  top: 50%
  left: 0
  right: 0
  font-size: 5em
  text-align: center

