.timer-context
  padding: .5em
  background-color: white
  border-top: none
  box-shadow: inset 1px 2px 7px -5px;

.mode-select
  padding: 0
  ul
    li
      box-shadow: inset 0 0 5px #aaa
      background-color: #ccc
      width: 50%
      text-align: center
      border-top: none
      &:first-child
        &.current
          box-shadow: 1px 0px 8px -3px #000
      &:last-child
        &.current
          box-shadow: -1px 0px 8px -3px #000
      &.current
        box-shadow: 1px 0px 5px black
        background-color: #fff
        border-bottom: none
.timer
  overflow: hidden

.big-actbar
  box-shadow: 0 -1px 16px -6px #000
  height: 96px
  bottom: 0
  ul
    li
      padding: 2.25em 0
      text-align: center
      height: 6em
      p
        font-size: 1.5em
        height: 1em
        display: inline
        position: relative
      &#startreset-button
        background-color: #419f33
        color: white
        width: 33.33%
      &#pauseresume-button
        color: white
        background-color: #cb1001
        width: 66.66%
      &#stopalarm-button
        width: 100%
      &#break-message
        width: 100%

#timer
  position: absolute
  margin-top: -48px
  top: 50%
  left: 0
  right: 0
  font-size: 5em
  text-align: center

#newpomodoro-elements
  visibility: hidden