<template name="home">
  {{#if currentUser}}
    <!-- if logged in -->
    {{> loggedIn}}
  {{else}}
    {{#if loggingIn}}
    {{else}}
      {{> loggedOut}}
    {{/if}}
  {{/if}}
</template>

<!-- Home/Task List for Logged In User -->
<template name="loggedIn">
  {{> navbar}}
  {{> secondary-nav}}
  {{#if tasksActive}}
    <section class="below-secondnav above-actbar task-section">
        {{> tasksList}}
  {{else}}
    <section class="below-secondnav task-section">
      {{> completedList}}
  {{/if}}
  </section>
  {{#if tasksActive}}
    {{> act-bar}}
  {{/if}}
</template>

<!-- Login Page for a Logged Out User -->
<template name="loggedOut">
  <section class="splash-screen">
    <h1 class="splash-title">Pomodoro</h1>
    <form action="" class="user-form">
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button id="login">Log In</button>
    </form>
    <a id="signup-link" href="/register">Sign Up for Pomodoro</a>
  </section>
</template>

<!-- List of Tasks to be Completed -->
<template name="tasksList">
  {{#if empty}}
    <p class="empty-message">
      You have no tasks to complete.
    </p>
  {{else}}
    <ul class="list">
      {{#each incompleteTasks}}
        {{#if today}}
          <li id="{{_id}}" class="task-item today clearfix">
            <p class="task-name">{{name}}</p>
            <p class="task-status">{{completed}} of {{expected}}</p>
            <div class="icon pomodoro"></div>
            <div class="tags">
              <i class="icon-tags"></i>
              {{#each tags}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          </li>
        {{else}}
          <li id="{{_id}}" class="task-item clearfix">
            <p class="task-name">{{name}}</p>
            <p class="task-status">{{completed}} of {{expected}}</p>
            <div class="icon pomodoro"></div>
            <div class="tags">
              <i class="icon-tags"></i>
              {{#each tags}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
</template>

<!-- List of Completed Tasks -->
<template name="completedList">
  {{#if empty}}
    <p class="empty-message">
      You have not completed any tasks yet.
    </p>
  {{else}}
    <ul class="list">
      {{#each completeTasks}}
        <li id="{{_id}}" class="task-item clearfix">
          <p class="task-name">{{name}}</p>
          <p class="task-status">{{completed}} of {{expected}}</p>
          <div class="icon pomodoro"></div>
          <div class="tags">
            <i class="icon-tags"></i>
            {{#each tags}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</template>