<head>
  <title>Pomodoro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
  {{renderPage}}
</body>

<!-- Navigation Bar -->
<template name="navbar">
  <section class="navbar">
    <ul>
      {{#each navInfo}}
        <li class="{{navClass}}">{{{navItem}}}</li>   
      {{/each}}
    </ul>
  </section>
</template>

<!-- Secondary Navigation Bar-->
<template name="secondary-nav">
  <section class="navbar secondnav below-nav">
    <ul>
      {{#each navInfo}}
        <li class="{{navClass}}">{{{navItem}}}</li>   
      {{/each}}
    </ul>
  </section>
</template>

<!-- Bottom Action Bar -->
<template name="act-bar">
  <section class="navbar actbar">
    <ul>
      {{#each navInfo}}
        <li id="{{navId}}">{{{navItem}}}</li>
      {{/each}}
    </ul>
  </section>
</template>