<template name="plan">
  {{> navbar}}
  <section class="below-nav above-actbar">
    {{> plannableTasks}}
  </section>
  {{> act-bar}}
</template>

<!-- List of Tasks to be Completed -->
<template name="plannableTasks">
  {{#if empty}}
    <p class="empty-message">
      You have no tasks to complete.
    </p>
  {{else}}
    <ul class="list plan-list">
      {{#each incompleteTasks}}
        <li id="{{_id}}" class="task-item clearfix">
          <div class="task-cardleft">
            <p class="task-name">{{name}}</p>
            <p class="task-left">{{left}}</p>
            <p class="task-left-text"> Pomodoros Expected Before Completion</p>
          </div>
          <p class="planned">{{planned}}</p>
          <div class="icon pomodoro"></div>
          <div class="plan-buttons">
            <i class="icon-angle-up"></i>
            <i class="icon-angle-down"></i>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</template>