<template name="task">
  {{> navbar}}  
  {{> taskinfo}}
  {{> act-bar}}
</template>

<template name="taskinfo">
  {{#with currentTask}}
    <section class="below-nav above-actbar task-content">
      <section class="header">
        <p class="basic-header">Task</p>
      </section>
      <section class="name">
        <p>{{name}}</p>
      </section>
      <section class="header">
        <p class="tags-header">Tags</p>
      </section>
      <section class="tags">
        <i class="icon-tags"></i>
        {{#each tags}} 
          <p>{{this}}</p>
        {{/each}}
      </section>
      <section class="header">
        <p class="status-header">Status</p>
      </section>
      <section class="expected-pomodoros">
        <p class="label">Expected</p>
        <p class="count">{{expected}}</p>
        <div class="icon pomodoro"></div>
      </section>
      <section class="completed-pomodoros">
        <p class="label">Completed</p>
        <p class="count">{{completed}}</p>
        <div class="icon pomodoro"></div>
      </section>
      <section class="header">
        <p class="history-header">Pomodoro History</p>
      </section>
      <div class="pomodoro-history">
        <section id="add-pomodoro-button">
          <p><i class="icon-plus"></i> Manually Add Pomodoro</p>
        </section>
        {{#each pomodoros}}
          {{> pomodoro-item}}
        {{/each}}
      </div>
    </section>
  {{/with}}
</template>

<template name="pomodoro-item">
  <section id="{{_id}}"class="pomodoro-item">
    <div class="date">
      <i class="icon-calendar"></i>
      <p>{{dateFormat date}}</p>
    </div>
    <div class="time">
      <i class="icon-time"></i>
      <p>{{timeFormat time}}</p>
    </div>
    <div class="location">
      <i class="icon-map-marker"></i>
      <p>{{location}}</p>
    </div>
  </section>
</template>